<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzf.market.dao.TbDeliveryAddressMapper">
  <resultMap id="BaseResultMap" type="com.jzf.market.pojo.auto.TbDeliveryAddress">
    <id column="da_id" jdbcType="BIGINT" property="daId" />
    <result column="da_u_id" jdbcType="BIGINT" property="daUId" />
    <result column="da_name" jdbcType="VARCHAR" property="daName" />
    <result column="da_phone" jdbcType="CHAR" property="daPhone" />
    <result column="da_detail_address" jdbcType="VARCHAR" property="daDetailAddress" />
    <result column="da_is_default" jdbcType="CHAR" property="daIsDefault" />
    <result column="da_create_date" jdbcType="TIMESTAMP" property="daCreateDate" />
    <result column="da_remark" jdbcType="VARCHAR" property="daRemark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    da_id, da_u_id, da_name, da_phone, da_detail_address, da_is_default, da_create_date, 
    da_remark
  </sql>
  <select id="selectByExample" parameterType="com.jzf.market.pojo.auto.TbDeliveryAddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_delivery_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_delivery_address
    where da_id = #{daId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_delivery_address
    where da_id = #{daId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jzf.market.pojo.auto.TbDeliveryAddressExample">
    delete from tb_delivery_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jzf.market.pojo.auto.TbDeliveryAddress">
    insert into tb_delivery_address (da_id, da_u_id, da_name, 
      da_phone, da_detail_address, da_is_default, 
      da_create_date, da_remark)
    values (#{daId,jdbcType=BIGINT}, #{daUId,jdbcType=BIGINT}, #{daName,jdbcType=VARCHAR}, 
      #{daPhone,jdbcType=CHAR}, #{daDetailAddress,jdbcType=VARCHAR}, #{daIsDefault,jdbcType=CHAR}, 
      #{daCreateDate,jdbcType=TIMESTAMP}, #{daRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jzf.market.pojo.auto.TbDeliveryAddress">
    insert into tb_delivery_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="daId != null">
        da_id,
      </if>
      <if test="daUId != null">
        da_u_id,
      </if>
      <if test="daName != null">
        da_name,
      </if>
      <if test="daPhone != null">
        da_phone,
      </if>
      <if test="daDetailAddress != null">
        da_detail_address,
      </if>
      <if test="daIsDefault != null">
        da_is_default,
      </if>
      <if test="daCreateDate != null">
        da_create_date,
      </if>
      <if test="daRemark != null">
        da_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="daId != null">
        #{daId,jdbcType=BIGINT},
      </if>
      <if test="daUId != null">
        #{daUId,jdbcType=BIGINT},
      </if>
      <if test="daName != null">
        #{daName,jdbcType=VARCHAR},
      </if>
      <if test="daPhone != null">
        #{daPhone,jdbcType=CHAR},
      </if>
      <if test="daDetailAddress != null">
        #{daDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="daIsDefault != null">
        #{daIsDefault,jdbcType=CHAR},
      </if>
      <if test="daCreateDate != null">
        #{daCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="daRemark != null">
        #{daRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jzf.market.pojo.auto.TbDeliveryAddressExample" resultType="java.lang.Long">
    select count(*) from tb_delivery_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_delivery_address
    <set>
      <if test="record.daId != null">
        da_id = #{record.daId,jdbcType=BIGINT},
      </if>
      <if test="record.daUId != null">
        da_u_id = #{record.daUId,jdbcType=BIGINT},
      </if>
      <if test="record.daName != null">
        da_name = #{record.daName,jdbcType=VARCHAR},
      </if>
      <if test="record.daPhone != null">
        da_phone = #{record.daPhone,jdbcType=CHAR},
      </if>
      <if test="record.daDetailAddress != null">
        da_detail_address = #{record.daDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.daIsDefault != null">
        da_is_default = #{record.daIsDefault,jdbcType=CHAR},
      </if>
      <if test="record.daCreateDate != null">
        da_create_date = #{record.daCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.daRemark != null">
        da_remark = #{record.daRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_delivery_address
    set da_id = #{record.daId,jdbcType=BIGINT},
      da_u_id = #{record.daUId,jdbcType=BIGINT},
      da_name = #{record.daName,jdbcType=VARCHAR},
      da_phone = #{record.daPhone,jdbcType=CHAR},
      da_detail_address = #{record.daDetailAddress,jdbcType=VARCHAR},
      da_is_default = #{record.daIsDefault,jdbcType=CHAR},
      da_create_date = #{record.daCreateDate,jdbcType=TIMESTAMP},
      da_remark = #{record.daRemark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzf.market.pojo.auto.TbDeliveryAddress">
    update tb_delivery_address
    <set>
      <if test="daUId != null">
        da_u_id = #{daUId,jdbcType=BIGINT},
      </if>
      <if test="daName != null">
        da_name = #{daName,jdbcType=VARCHAR},
      </if>
      <if test="daPhone != null">
        da_phone = #{daPhone,jdbcType=CHAR},
      </if>
      <if test="daDetailAddress != null">
        da_detail_address = #{daDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="daIsDefault != null">
        da_is_default = #{daIsDefault,jdbcType=CHAR},
      </if>
      <if test="daCreateDate != null">
        da_create_date = #{daCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="daRemark != null">
        da_remark = #{daRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where da_id = #{daId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzf.market.pojo.auto.TbDeliveryAddress">
    update tb_delivery_address
    set da_u_id = #{daUId,jdbcType=BIGINT},
      da_name = #{daName,jdbcType=VARCHAR},
      da_phone = #{daPhone,jdbcType=CHAR},
      da_detail_address = #{daDetailAddress,jdbcType=VARCHAR},
      da_is_default = #{daIsDefault,jdbcType=CHAR},
      da_create_date = #{daCreateDate,jdbcType=TIMESTAMP},
      da_remark = #{daRemark,jdbcType=VARCHAR}
    where da_id = #{daId,jdbcType=BIGINT}
  </update>
</mapper>